@media only screen and (max-width:920px) {
    #pricing {
        flex-direction: column;
        align-items: center;
    }  
}

@media only screen and (max-width:775px) {
    #header {
        flex-direction: column;  
    }

    #nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .offer-item {
        flex-direction: column;
        align-items: center;
    }


}
