@media only screen and (max-width:920px) {
    #pricing {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }  
}

@media only screen and (max-width:775px) {
    #header {
        flex-direction: column;  
      
    }

    #nav-bar {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-bottom: 20px;
    }

    #what-we-offer {
        margin-top: 289px;
    }

    .offer-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .offer-description {
        gap: 10px;
    }
}
