/* div {
    border: 1px solid black;
} */

html, body {
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    color:#81d3fa;
    text-decoration: none;
    font-size: 20px;
}




#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    background-color: #121212;
    color: #fff;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    position: fixed;
    width: 100%;
    
    
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

#svg-img {
    width: 104px;
    height: 104px;
}

#company-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
}

#nav-bar {
    display: flex;
    gap: 75px;
    padding-right: 20px;
    text-align: center;

}


#what-we-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 154px;
}

.offer-container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    gap: 50px;
    background-color: rgb(255, 255, 255, .05);
    padding: 15px;
    border-radius: 7px;
    
}

.offer-item {
    display: flex;
    gap: 50px;
   
}

.offer-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    
}

.offer-description h1 {
    font-size: 1.5rem;
    font-weight: 500;

}

#pricing {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.pricing-item {
    background-color: rgb(255, 255, 255, .05);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 7px;
    text-align: center;
    padding-bottom: 20px;
    
}


.pricing-item-header {
    background-color: rgb(255, 255, 255, .06);
    padding: 15px 0;
    width: 100%;
    border-radius: 7px 7px 0 0;
    
}

.pricing-item-description {
    padding: 0 25px;
    flex: 1;
    line-height: 1.5;
}

.btn {
    background-color: #81d3fa;
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 14px;

}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    gap: 10px;
    text-align: center;
}

#form {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 5px;
    justify-content: center;
    margin-top: 20px;
    

}

#email {
    flex: 1;
    max-width: 500px;
    outline: none;
    color: white;
    border: none;
    background-color: rgb(255, 255, 255, .06);
    border-bottom: 2px solid #81d3fa;
    font-size: 1.2rem;
}


#submit {
    background-color: #81d3fa;
    border: none;
    padding: 10px 20px;
    
}

#how-it-works {
    display: flex;
    justify-content: center;
    
}

#footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    padding-left: 20px;
}

.footer-right {
    display: flex;
    padding-right: 20px;
    gap: 50px;
}
