/* div {
    border: 1px solid black;
} */

html, body {
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}


#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

#header-img {
    width: 104px;
    height: 104px;
}

#company-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
}

#nav-bar {
    display: flex;
    gap: 5px;
}


#what-we-offer {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.offer-container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.offer-item {
    display: flex;
    gap: 50px;
}

.offer-description {
    display: flex;
    flex-direction: column;
    
    
}

.offer-description h1 {
    font-size: 1.5rem;
    font-weight: 500;

}

#pricing {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.pricing-item {
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.pricing-item-header {
    padding: 15px 0;
}

.pricing-item li:not(:last-child) {
    margin-bottom: 15px;
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-it-works {
    display: flex;
    justify-content: center;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}