/* div {
    border: 1px solid black;
} */

html, body {
    width: 100vw;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#header-img {
    width: 104px;
    height: 104px;
}


#what-we-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.offer-item {
    display: flex;
}

#pricing {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.pricing-item {
    border: 1px solid black;
    width: 20%;
    min-width: 300px;
}

@media only screen and (max-width:920px) {
    #pricing {
        flex-direction: column;
        align-items: center;
    }
    
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-it-works {
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}